.container-projects {
  width: 100%;
  height: auto;
}

.crear-proyecto {
  display: flex;
  justify-content: flex-end;
  height: 70px;
  width: 100%;
  border-radius: 10px;
}

.card-nuevo-proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  background-image: linear-gradient(to right, #40916C, #2D6A4F);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.icon-mas {
  padding-left: 10px;
}

.icon-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15px;
  color: #317254;
}

.icon{
  color: #317254;
}

.proyectos {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
  margin-top: 35px;
}

.project-name{
  font-weight: 600;
}

.descripcion-proyecto {
  margin: 0 16px;
}

.mensaje-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
  height: 100px;
  margin-top: 30px;
  border-radius: 3px;
}

@media (max-width: 760px) {
  .proyectos {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}